@import "../../node_modules/@fortawesome/fontawesome-free/css/all.css";

a,
.button,
button {
  @extend .font-yellow;
  text-decoration: none;

  &:hover,
  &:focus {
    outline: none;
    @extend .font-yellow-hover;
    text-decoration: none;
  }
}

.button,
button {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  position: relative;
  padding: 1rem;
  text-align: center;
  border-radius: $rounded;
  border: none;
  letter-spacing: 1px;
  //@include button(dark-gray, yellow);
  @include button(beige, dark-gray);
  border: 1px solid map-get($colors, light-gray);

  &.cta {
    @include button(yellow, dark-gray);
    border: 1px solid transparent;
  }

  &.danger {
    @include button(red, beige);
    border: 1px solid transparent;
  }

  &.action {
    @include button(green, beige);
    border: 1px solid transparent;
  }

  &.disabled {
    border: 1px solid transparent;
  }
}

/*button {
 @include button(beige, dark-gray);
  border: 1px solid map-get($colors,light-gray);
}*/
