
///////// Colors ///////
$colors:(
beige:  #f4f3ef,
beige-hover:  #e3e1d8,
red:  #dc3545,
red-hover: #d40d20,
green:   #28a745,
green-hover: #179935,
blue:    #17a2b8,
yellow:  #ffc107,
//yellow-hover: #e0a800,
yellow-hover: #f0b400,
dark-gray: #2c2c2c,
gray: #343a40,
//gray-hover: #212529,
gray-hover: #383d42,
light-gray: #b0aeae
);

@each $name, $color in $colors {
  .bg-#{$name} {
    background-color: $color;
  }
  .font-#{$name} {
    color: $color;
  }
  .bg-#{$name}-o {
    background-color: $color !important;
  }
  .font-#{$name}-o {
    color: $color !important;
  }
  .shadow-#{$name} {
    box-shadow: 0 0 1rem rgba($color, 0.1);
    -webkit-box-shadow: 0 0 1rem rgba($color, 0.1);
    -moz-box-shadow: 0 0 1rem rgba($color, 0.1);
  }
}

///// sizes

$md: 750px;
$lg: 1100px;

$spacing: 2rem;
$spacing-lg: 12vh;
$rounded: 0.25rem;
