body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2.2rem;
  text-align: left;
}

h3 {
  font-size: 1.9rem;
}

body, h4,p,select {
  font-size: 1.2rem;
  line-height: 1.7;
}

.button, button {
  font-size: 1.3rem;
}

@media all and (min-width:$md) {
  h1 {
    font-size: 4rem;
  }
  h2 {
    font-size: 2.5rem;
    text-align: center;
  }
  .guide p{
    font-size: 1.5rem;
  }
}
