footer {
  @extend .bg-dark-gray;
  min-height: 10vh;
  @extend .font-beige;
  @extend .shadow-dark-gray;

  a {
    @extend .font-beige;
    flex: 1 1 auto;
    text-align: center;

    &:hover {
      @extend .font-beige;
    }
  }
}
