header {
  position: sticky;
  top: 0;
  display: flex;
  width: 100%;
  height: auto;
  //background-color: $beige;
  //border-bottom: 1px solid $light-gray;
  flex-wrap: wrap;
  .wrapper {
    a {
      flex: 1 1 auto;
      //color: $gray !important;
      text-align: center;
      padding: 1.2rem 0;
      text-decoration: none !important;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 16px;

      &:active,&:hover {
        //background-color: $yellow;
        border-radius: 4px;
      }
    }
  }

  .logo-wrapper {
    margin: auto;
    height: 2rem;
    display: block;
    min-width: 300px;
    padding-left: 1rem;

    .burger{
      background: none;
      border: none;
      height: 15px;
      width: 22px;
      pointer-events: none;
      cursor: default;
      padding: 0;

      &::before {
        border-top: 4px solid #d9010a;
        border-bottom: 4px solid #070809;
        margin-bottom: 2px;
      }

      &::after {
        border-top: 4px solid #070809;
        border-bottom: 4px solid #070809;
      }

      &::before,&::after {
        content: "";
        display: block;
        height: 10px;
        width: 20px;
      }
    }

    .logo {
      object-fit: contain;
      height: 90%;
      width: calc(100% - 20px);
      margin-left: -20px;
    }
  }
}
