.row {
  display: block;
  width: 100%;
  margin: $spacing 0;
  overflow: auto;
}

.wrapper {
  justify-content: space-between;
  display: flex;
  flex-wrap: wrap;

  &.vertical {
    flex-direction: column;

    *{
      margin: $spacing 0;
    }
  }

  &.border {
    justify-content: space-around;
  }
}

.padded {
  margin: auto;
  width: 90%;

  &.lg {
    max-width: $lg;
  }

  &.md {
    max-width: $md;
  }
}

.block-left {
  padding-right: 50%;
  width: 100%;
}

.block-right {
  padding-left: 50%;
  width: 100%;
}

.float-right {
  float: right;
}

.block50 {
  flex: 1 1 calc(#{$md} / 2);
  margin: 0;
}

img.block-content{
  height: auto;
  width: 100%;
  max-width: 10rem;
  margin: auto;
  padding-bottom: 1rem;
}

.block25 {
  flex: 0.1 1 20rem;
  margin: $spacing 0;
}

.card {
  font-size: 1.5rem;
  text-align: center;
  padding: $spacing;
  border-radius: $rounded;
  @extend .shadow-dark-gray;
  @extend .bg-beige;
  @extend .font-dark-gray;


  span {
    margin: 1.5rem auto;
    margin-top: 0rem;
    font-size: 2rem;
    border-radius: 100%;
    display: block;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    @extend .bg-yellow;
  }

  p {
    text-align: left;
    font-size: 1.2rem !important;
  }
}

.spaced-lg {
  margin-top: $spacing-lg;
  margin-bottom: $spacing-lg;
}

.spaced {
  margin-top: $spacing;
  margin-bottom: $spacing;
}

.sticky {
  position: sticky;
  bottom: 1rem;
}

.full-height {
  padding-top: 5rem;
  padding-bottom: 7rem;
  min-height: 100%;
}

.text-center {
  text-align: center;
}

.disabled {
  cursor: default;
  opacity: 0.8;
  @include button(light-gray, beige);
  pointer-events: none;
}

@media all and (min-width:700px) {
  .block50 {
    margin: $spacing;
  }

  .full-height{
    min-height: 100vh;
    padding: 0;
  }
}
