@mixin button($bg-color, $font-color) {
  background-color: map-get($colors,$bg-color);
  color: map-get($colors,$font-color);

  &:hover, &:focus {
    @if map-has-key($colors, $bg-color#{-hover}) {
      background-color: map-get($colors, $bg-color#{-hover});
    }
    color: map-get($colors,$font-color);
  }
}
