@import "_mixins";
@import "_constants";
@import "_helpers";
@import "_fontwork";
@import "_header";
@import "_footer";
@import "_buttons";

//overwrites
body {
  @extend .bg-beige;
  @extend .font-dark-gray;
}

body,
h1,
h2,
h3,
h4 {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

h2,
p {
  padding-bottom: $spacing;
}

select {
  position: relative;
  width: 100%;
  padding: 0.75rem;
  border-radius: $rounded;
  border: 1px solid map-get($colors, light-gray);
  outline: none;
  cursor: pointer;
  @extend .bg-beige;
  @extend .font-dark-gray;

  &:active {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/////
.img-bg {
  background-image: url("../images/BG_2.png");
  background-size: cover;
  background-position: center top;
}

section {
  width: 100%;

  &:not(.guide) {
    &:nth-of-type(odd) {
      @extend .bg-dark-gray;
      @extend .font-beige;
    }
  }

  &#start {
    background-image: url("../images/BG_2.png");
    background-size: cover;
    background-position: center top;
    transition: all 300ms ease;
    position: relative;

    h1 {
      @extend .font-beige;
      margin: 2rem 0;
    }

    h3 {
      @extend .font-beige;
    }

    .main-claim {
      width: 100%;
      left: 0;
    }

    .cta-block {
      flex: 1 1 auto;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;

      .button {
        margin: 1rem;
        flex: 0 1 15rem;
      }

      //column-gap: 1rem;
      //row-gap: 1rem;
    }

    &::after {
      display: block;
      position: absolute;
      bottom: $spacing;
      left: $spacing;
      content: "Foto: Andreas Knoll";
    }
  }

  &:not(#start) {
    padding: $spacing-lg 0;
  }

  .images {
    padding: 0;
    margin: auto;

    img {
      width: 100%;
    }
  }
}

#Logo {
  left: auto;
  right: 0.5rem;
  width: 3rem;
  @extend .bg-beige;
  border-bottom-left-radius: $rounded;
  border-bottom-right-radius: $rounded;
  position: fixed;
  top: 0px;
  height: auto;
  z-index: 1000;
}

@media all and (min-width: $md) {
  #Logo {
    left: 1rem;
    right: auto;
    width: 4.5rem;
    background-color: transparent;
    border-radius: 0;
  }
}
